{% extends 'base.html.twig' %}

{% block title %}Programmes{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h1 class="mb-5">Toutes les séries</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button>Search</button>
        {{ form_end(form) }}
        {% for program in programs %}
            <div class="m-5 d-flex justify-content-center">
                <h3>{{ program.title }}</h3>
                <a class="btn bg-warning ms-4" href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
            </div>
        {% else %}
            <div>
                <p>Aucune série trouvée</p>
            </div>
        {% endfor %}
        <a class="btn bg-warning" href="{{ path('program_new') }}">Ajouter un programme</a>
        <a class="btn bg-warning" href="{{ path('app_index') }}">Retour à l'accueil</a>
    </div>
{% endblock %}