{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media m-auto w-50">
        <img  width="300px" height="300px" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="text-center mt-3">{{ program.title }}</h1>
            <p>Catégorie : {{ program.category.name }}</p>
            <p>Année de sortie : {{ program.year }}</p>
            <p>{{ program.summary }}</p>
        </div>
        <div>
            {% for season in seasons %}
                <a class="btn btn-warning" href="{{ path('program_season_show', { programId: program.id, seasonId: season.id}) }}">{{ season.description }}</a></li>
            {% endfor %}
        </div>
        <div>
            <a class="btn btn-warning mt-5" href="{{ path('app_index') }}">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}