{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div class="container tex-center d-flex">
        <div class="m-5">
            <img  width="500px" height="500px" src="{{program.poster}}" alt="{{ program.title }} poster">
        </div>
        <div class="m-5">
            {{ dump( app.user.isInWatchlist(program)) }}
            <a href="{{ path('program_watchlist', {id: program.id})}}">
                <i class="bi {{ app.user.isInWatchlist(program) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
            </a>
            <h1 class="text-center mt-3">{{ program.title }}</h1>
            <p>Catégorie : {{ program.category.name }}</p>
            <h2>Acteurs</h2>
            <ul>
                {% for actor in program.actors %}
                    <li><a class="btn btn-custom" href="{{ path('actor_show', {id: actor.id}) }}">{{ actor.name }}</a></li>
                {% endfor %}
            </ul>
            <p>Année de sortie : {{ program.year }}</p>
            <p>{{ program.summary }}</p>
            {% for season in seasons %}
                <a class="btn btn-warning" href="{{ path('program_season_show', { slug: program.slug, season: season.id }) }}">{{ season.description }}</a>
            {% endfor %}
            <a class="btn btn-warning mt-5" href="{{ path('app_index') }}">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}